body{
    margin: 0;
    height: 100vh;
    background-color: #ecf0f3;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
}

:root{
    --maincolor:#ecf0f3;
    --boxshadowColor:#d0d3d6;
    --boxshadowColor2:white;
    --cart-TextColor:gray;
    --radius50px:50px;
    --m-top10:10px;
}

.cart{
    width: 40%;
    height: 500px;
    border-radius: 20px;
    background-color: var(--maincolor);
    margin-top: 30px;
}

.cart,.cart__img{
    box-shadow: 10px 10px 15px var(--boxshadowColor) , -10px -10px 10px  var(--boxshadowColor2) ;
}

body,.cart__logo,.cart__login{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart__logo{
    width: 100%;
    height: 120px;
}
.cart__img{
    border-radius: 50%;
    padding: 10px;
}

.cart__login{
    font-size: 25px;
    margin-top: 5px;
    font-weight: 900;
    color: var(--cart-TextColor);    
}

.cart__section{
    width: 80%;
    margin-left: auto;
    margin-top: 20px;
    
}
.cart__section--text{
color: var(--cart-TextColor);

}
.cart__section--form{
    width: 80%;
    height: 50px;
    border-radius: var(--radius50px);
    background-color: var(--maincolor);
    box-shadow: 5px 5px 5px inset var(--boxshadowColor) , -7px -7px 7px inset  var(--boxshadowColor2) ;
    border: none;
    margin-top: var(--m-top10);
    text-align: center;
}

.cart__section-login-button{
    width: 80%;
    height: 30px;
    border-radius: var(--radius50px);
    margin-top: var(--m-top10);
}

.moon{
    position: absolute;
    top: 0;
    z-index: -1;
    width: 250px;
    animation-name: moon;
    animation-duration: 25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes moon{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}

.cart__checkbox{
    display: flex;
    align-items: end;
    height: 55px;
    margin-top: 15px;
    margin-left: 10px;
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}














@media screen and (min-width: 1300px ) {
    .cart{width: 519.675px;}
}

@media screen and (max-width:750px){
    body{
        background-image: linear-gradient(to bottom right, black , silver);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cart{
        
        width: 50%;
        margin-left: 0px;
        background-image: linear-gradient(to bottom right, black , silver);
        box-shadow: 0px 0px 0px inset var(--boxshadowColor) , 0px 0px 0px inset  white ;
    }
    .cart__img{
        box-shadow: 0px 0px 10px 10px var(--boxshadowColor);
    }
    
    .moon{
        position: absolute;
        left:-100px;
        top: -50px;
        width: 500px;
        animation-duration: 90s;
    }   
}

@media screen and (max-width:550px){
    .cart{
        width: 70%;
    }
    .moon{
        left: unset;
        top: -50px;
        right: -100px;
        width: 450px;
    }
}